@font-face {
  font-family: "Hussar";
  src: url("../resources/fonts/hussar-font/HussarBoldObliqueThree-0ryr.otf");
}

* {
  font-family: "Hussar";
}

#carouselExampleCaptions .carousel-item img {  
  object-fit: fill;
  object-position: center;
  overflow: hidden;
  height:50vh;
}

.msg{
  border: 2px solid rgba(177, 40, 40, 0.467);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.bg_header {
  background-color: #1a0a0a;
  height: 60px;
}

.f20 {
  font-size: 20px;
}

.f30 {
  font-size: 30px;
}

.f50 {
  font-size: 50px;
}

.pad {
  padding-left: 20%;
  padding-right: 20%;
}

.m05 {
  margin: 0.5rem;
}

.m25 {
  margin-right: 2.5rem;
}

.m30 {
  margin-right: 3.0rem;
}

.m10 {
  margin-right: 1.0rem;
}

.img_obj_fit {
  object-fit: none
}

.img_h700_w600 {
  height: 700;
  width: 600;
}

.img_obj_fit_contain {
  object-fit: fill;
}

.img_h300 {
  height: 300;
}

.login-feedback{
  display: none;
}

.adress {
  width: 90%; 
  height: 300px; 
  object-fit: contain;
}