@font-face {
  font-family: "Hussar";
  src: url("../resources/fonts/hussar-font/HussarBoldObliqueThree-0ryr.otf");
}

* {
  font-family: "Hussar";
}

#carouselExampleCaptions .carousel-item img {  
  object-fit: fill;
  object-position: center;
  overflow: hidden;
  height:50vh;
}

.msg{
  border: 2px solid rgba(177, 40, 40, 0.467);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.bg_header {
  background-color: #1a0a0a;
  height: auto;
}